@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

.topnav {
  overflow: hidden;
  background-color: transparent;
  color: white;
  height: 110px;
  padding: 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#active{
  transition: 100ms;
  color: #0082f3 !important;
}

.leaveBanner{
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  z-index: 11;
  background-color: rgba(34, 34, 34, .9);
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-in { 
  from { opacity:0; }  
  to { opacity:1; } 
}

@keyframes fade-out { 
  from { opacity:1; }  
  to { opacity:0; } 
}

.enterBanner{
  animation: fade-out 300ms ease-in-out forwards;
}

.noBanner{
  display: none !important;
}

.topnav a {
  // float: left;
  // display: block;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;

  &:hover{
    transition: 300ms;
    color: #0082f3;
  }
}

.link-s{
  padding: unset !important;
}

.topnav .icon {
  display: none;
}

.icon-headers{
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.menu-headers{
  font-family: 'Open Sans';
}

.btn-dropdown{
  background-color: transparent !important;
  color: white !important;
  border: unset !important;
  padding: unset !important;
  
  &:focus {
    box-shadow: unset !important;
  }
  }
  
  .logo{
    max-width: 100%;
    max-height: 20px;
  }

@media screen and (min-width: 601px) {
  .mobile {
      display: none;
  }

  .logo-headers{
      width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .menu-headers{
    // text-align: center;
    // padding-bottom: 55px;

  //   padding-bottom: 55px;
  font-family: 'Open Sans';
    display: flex;
  //   justify-content: center;
  }
  
  .group-icon{
      position: absolute;
      right: 60px;
      top: 90px;
      width: 100px;
      justify-content: space-between;
      display: flex;
  }

  .topnav2{
      padding-bottom: 20px;
  }

  .leaveBanner{
    height: 80px !important;
  }
}


@media screen and (max-width: 600px) {
  .topnav .menu-nav{
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    // position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      font-weight: 600;
      text-align: left;
      padding: 20px 15px;
  }
  
  .topnav{
      padding: 0px 25px;
      display: block;
      overflow: unset;
      padding-top: 27px;
      background: #333;
      opacity: 0.9;
      height: 45px;
  }

  .div-logo{
      display: flex;
      justify-content: space-between;
  }

  .icon-headers{
      font-size: 20px;
  }   

  // .mobile {
  //     display: block;
  // }

  .menu-headers{
      transform: translateY(0px) translateX(0px);
      transition: transform 400ms ease 0s;
      background-color: #333;
      margin-top: 25px;
  }

  .logo-headers{
      width: 180px;
  }

  .topnav2{
      display: flex;
  }

  .group-icon{
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
  }
}

